<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ahievement Form</title>
    <link href="../static/css/achievementForm.css" rel="stylesheet">
</head>
<body>

    <div class="form-container">
    <div class="form-card1">
        <div class="form-card2">
          <form class="form">
            <p class="form-heading">Propose Achievement</p>
      
            <div class="form-field">
              <input required="" placeholder="Name" class="input-field" type="text" />
            </div>
      
            <div class="form-field">
                <input required="" placeholder="Student ID" class="input-field" type="text" />
              </div>

              <div class="form-field">
                <input required="" placeholder="Teacher" class="input-field" type="text" />
              </div>

              <div class="form-field">
                <input required="" placeholder="Topic" class="input-field" type="text" />
              </div>
      
      
            <div class="form-field">
              <textarea
                required=""
                placeholder="Details"
                cols="30"
                rows="3"
                class="input-field"
              ></textarea>
            </div>
      
            <button class="sendMessage-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
</body>
</html>